.brd{
	border: 1px solid #ddd;
}

/* FONTS */
@font-face{
	font-family:futura;
	src: url("fonts/Futura.ttc") format('truetype');
}

@font-face{
	font-family:social;
	src: url("fonts/Socialico.ttf") format('truetype');
}

@font-face{
	font-family:museo-slab;
	src: url("fonts/Museo_Slab_500_2.otf");
}

.nav-general{
	/*background-color: #FF3C1F;*/
	background-color: #FF671F;
	border: none;
	clear: both;
}

.nav-footer{
	border: none;
	clear: both;
}

#top-nav{
	line-height: 20px;

}

#me{
	text-decoration: none;
	font-size: 18px;
	color: white;
	line-height: 20px;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
}

#main-nav{
	display: inline-block;

}

#main-nav > ul > li {
		padding-left: 15px;
		padding-right: 15px;
	}

#main-nav > ul > li > a{
		font-size: 15px;
	color: #FAB3A9;
	transition: all .5s ease;
	padding-bottom: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

#main-nav > ul > li > a:hover{
	color: white;
	border-bottom: 1px solid white;
}

#aboutme{
	font-size: 1.25em;
	color: #676767;
}

#aboutme > p > a {
	color: #676767;
	border-bottom: 1px solid #F8963A;
}

.gal-type{
	color: #F8963A;
	margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: .05em;
}

#aboutme > p > a:hover {
	color: black;
	border-bottom: 1px solid #F8963A;
	text-decoration: none;
}

#greet{
	color: #F8963A;
}

#myphoto{
	margin-bottom: 20px;
}


/* FOOTER */


.social-nav{
	margin-top: -13px;
	
}

#linkedIn{
	margin-left: 30px;
	width: 30px;
	height: 30px;
	display:block;
	float:left;
	background:transparent url("../img/icons/social_icons.png") no-repeat;
}

#linkedIn:hover{
	margin-left: 30px;
	background-position:-30px 0px;
}

#tumblr{
	
	width: 30px;
	height: 30px;
	display:block;
	float:left;
	background:transparent url("../img/icons/social_icons.png") -60px 0px;
}

#tumblr:hover{
	
	background-position:-90px 0px;
}
.copyright{
	width: 100%;
	text-align: center;
	color: #949393;
	padding-top: 15px;
	padding-bottom: 15px;
}

.center-links{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.center-links > ul{
	margin: 0 auto;
	float: none;
	text-align: center;
	display: table;
}

.center-links > ul:after { content:' '; display:inline-block; width: 100%; height: 0 }

.center-links > ul > li{
	float: left;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}


/* RELAYOUT FOR RESPONSIVE */


@media (max-width: 480px) {
	#me{
		width: 100%;
		text-align: center;
	}

	#main-nav{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;

	}

	#main-nav > ul{
		margin: 0 auto;
		float: none;
		text-align: center;
		display: table;
	}

	#main-nav > ul:after { content:' '; display:inline-block; width: 100%; height: 0 }

	#main-nav > ul > li{
		float: left;
		margin-left: auto;
		margin-right: auto;
		text-align: center;	}




}

@media (min-width: 1440px){

	#aboutme{
		margin-left: 30px;
		width: 1024px;
	} 

}



