<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="bonnie's code blog : code me" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>bonnie's code blog</title>
  </head>

  <body>

    <!-- HEADER -->
<div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/yuqiaoyan">View on GitHub</a>

          <h1 id="project_title">bonnie's code blog</h1>
          <h2 id="project_tagline">code me</h2>

        </header>
    </div>